:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

.header {
  font-size: 3.2em;
  line-height: 1.1;
  text-align: center;
  border-style: hidden;
  margin-top: -5px;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: rgb(190, 6, 6);
}
.home-button {
  height: 50px;
  font-size: larger;
  width: 50%;
  background-color: rgb(190, 6, 6);
  border-style: none;
}
.user-button {
  height: 50px;
  font-size: larger;
  width: 50%;
  background-color: rgb(190, 6, 6);
  border-style: none;
}
.user-button:hover {
  background-color: rgb(121, 3, 3);
}
.home-button:hover {
  background-color: rgb(121, 3, 3);
}
.go-to-article {
  background-color: #242424;
  border-style: none;
}
.go-to-article:hover {
  color: rgb(190, 6, 6);
}
.box {
  border-style: inset;
  margin-top: 10px;
  width: 500px;
  margin: 20px auto;
  border-radius: 10px;
  border-color: rgb(190, 6, 6);
  height: 415px;
}
.art-img {
  height: 300px;
  width: 500px;
  text-align: center;
}
.article-title {
  margin-top: 5px;
  padding-left: 4px;
}
.article-stuff {
  padding-left: 10px;
  margin-bottom: 30px;
}
.votes {
  text-align: right;
  padding-right: 10px;
  margin-top: -70px;
}
.nav-bar {
  background-color: rgb(190, 6, 6);
  bottom: 0;
  position: fixed;
  width: 100%;
  border-style: hidden;
}
.user {
  text-align: center;
}
.article-top {
  border-style: inset;
  border-radius: 10px;
  border-color: rgb(190, 6, 6);
  text-align: center;
  width: 80%;
  margin: 20px auto;
  display: block;
}
.single-art-img {
  text-align: center;
  margin: 20px auto;
  display: block;
  border-style: inset;
  border-radius: 10px;
  border-color: rgb(190, 6, 6);
  width: 60%;
  height: 400px;
}
.article-info {
  border-style: inset;
  width: 400px;
  margin: 20px auto;
  display: block;
  padding-left: 10px;
  background-color: rgb(190, 6, 6);
  border-radius: 10px;
  border-color: rgb(190, 6, 6);
}
.art-body {
  border-style: inset;
  width: 60%;
  margin: 20px auto;
  display: block;
  border-radius: 10px;
  border-color: rgb(190, 6, 6);
  padding-left: 10px;
}
